body {
    background-color: #e8dfd8;
}
li{
    text-transform: uppercase;
}
/* header & nav start */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-company {
    height: 100px;
    width: 100px;
    margin-left: 50%;
    background-image: url("assets\images\Logo.png");
    background-size: cover;
}
nav {
    display: flex;
}
nav>a {
    border: 1px solid;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.no-border-radius-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}
.no-border-radius {
    border-radius: 0px;
}
.no-border-radius-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}
main>header {
    text-align: center;
}
main>header>h2{
    padding-bottom: 0;
    margin-bottom: 0;
}
main>header>h5{
    padding-top: 0;
    margin-top: 0;
    font-weight: normal;
}
main>header>h5>a{
    font-weight: bold;
}
/* header & nav end */

/* main-content start */
.main-content {
    display: flex;
    gap: 24px;
}
.main-container {
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.responsive {
    width: 100%;
    height: auto;
}
.mySlides>img{
    height: 400px;
    /* width: 400px; */
}
/* autoslide css */
* {
    box-sizing: border-box;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
    border-radius: 5px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* The dots/bullets/indicators */
.dot {
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* main-content end */

/* css form start */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 1px solid black;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 1px solid black;
}
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 1px solid black;
}
button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}
#rbType{
    padding: 12px 20px;
    text-align: center;
}
.main-container>h2{
    margin-bottom: 0px;
    margin-top: 0px;
}
.main-container>p{
    margin-top: 0px;
}
.req{
    color:red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* css form end */

/* our facility start */
#our-facility-section>header, #our-location-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: antiquewhite;
}
#our-facility-content, #our-location-content {
    display: flex;
    gap: 24px;
    flex-direction: row;
}
.our-container>header{
    text-align: center;
    border: 1px solid black;
}
.our-container {
    height: 50%;
    flex: 1;
}
.facility-container{
    border: 1px solid black;
}
/* our facility start */

/* our location start */
.location-content{
    display: flex;
    flex-direction: row;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20pt;
}
.icon-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}
#location-article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px 20px 10px;
}
/* our location end */

/* our review start */
#our-review-section>header {
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: antiquewhite;
}
.our-review-content {
    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 20px;
}
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
div.scroll-container img {
    padding: 10px;
}
/* our review end */

/* footer start */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* footer end */

@media only screen and (max-width: 768px) {
    .main-content {
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
    .logo-company {
        height: 100px;
        width: 100px;
        margin-left: 50%;
        background-image: url('/assets/images/Logo.png');
        background-size: cover;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .no-border-radius-left {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .no-border-radius {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .no-border-radius-right {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20pt;
    }

    .icon-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14pt;
    }
    #our-facility-content,
    #our-location-content {
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
    #location-article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 10px 20px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .main-content {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }
    nav {
        display: flex;
        flex-direction: row;
    }
    .no-border-radius-left {
        border-top-left-radius: 0px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 0px;
    }

    .no-border-radius {
        border-radius: 0px;
    }

    .no-border-radius-right {
        border-top-left-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 4px;
    }
}